:root {
  --h1-fs:1.625rem;
  --par-fs:0.9375rem;
  --btn-fs:0.875rem;
  --spec-fs:0.75rem;
}

@font-face {
  font-family: "chivo";
  src: url(./../Fonts/Chivo-VariableFont_wght.woff2) format("woff2-variations");
  font-style: normal;
  font-weight: 100 900;
}
:root {
  --bs-body-font-family: "chivo", sans-serif;
}

html ::-moz-selection {
  background-color: #1683ff;
  color: #ffffff;
}

html ::selection {
  background-color: #1683ff;
  color: #ffffff;
}

body {
  background-color: #121725;
}

.main {
  height: 100dvh;
  position: relative;
  isolation: isolate;
}
.main::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(./../img/image-mobile.webp);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-color: #121725;
  opacity: 0.1;
  z-index: -1;
}

h1 {
  font-size: var(--h1-fs);
  font-weight: 100;
  color: #54E6AF;
  line-height: 1.4615384615em;
  margin-top: 3.4375rem;
}
h1 span {
  color: #ffffff;
}

p {
  font-size: var(--par-fs);
  font-weight: 100;
  color: #C2CBE5;
  margin-block: 2rem;
  line-height: 1.6666666667em;
}

img:not(img[src="./img/logo.svg"]) {
  margin-right: 1rem;
  margin-bottom: 1rem;
}
img:not(img[src="./img/logo.svg"]):nth-child(1) {
  width: 56px;
  height: 17px;
}
img:not(img[src="./img/logo.svg"]):nth-child(2) {
  width: 45px;
  height: 17px;
}
img:not(img[src="./img/logo.svg"]):nth-child(3) {
  width: 73px;
  height: 11px;
}
img:not(img[src="./img/logo.svg"]):last-child {
  width: 77px;
  height: 15px;
  margin-right: 0;
}

form {
  margin-top: 2rem;
}
form #email,
form #submit {
  display: block;
  width: 90%;
  min-height: 46px;
  margin: 0 auto;
  line-height: 2em;
  font-size: var(--btn-fs);
  font-weight: 600;
  outline: transparent;
  border-radius: 28px;
  border: none;
}
form #email {
  background-color: #5A668A;
  color: #ffffff;
  text-indent: 2rem;
  margin-bottom: 1rem;
}
form #email::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 0.5;
}
form #email::-moz-placeholder {
  color: #ffffff;
  opacity: 0.5;
}
form #email:-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.5;
}
form #email::-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.5;
}
form #email::placeholder {
  color: #ffffff;
  opacity: 0.5;
}
form #submit {
  background-color: #54E6AF;
}

.oops {
  color: #FB3E3E;
  font-size: var(--spec-fs);
  font-weight: 400;
  line-height: 1.1666666667em;
  margin-block: 0.3rem;
  text-indent: 2rem;
  opacity: 0;
}

@media only screen and (min-width: 450px) {
  .content-wrapper {
    max-width: 400px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 576px) {
  :root {
    --h1-fs:2.9rem;
    --par-fs:1.125rem;
    --btn-fs:0.875rem;
    --spec-fs:0.75rem;
  }
  .main::after {
    background-image: url(./../img/image-table.webp);
    left: 12px;
    right: 12px;
    bottom: 0;
    top: 0;
    opacity: 1;
    height: 767px;
    background-position: top right;
    background-size: 70%;
  }
  .main .content-wrapper {
    margin: 0;
    max-width: none;
    width: 100%;
    background-color: #121725;
    margin-top: 8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .content-wrapper h1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    line-height: 1.1666666667em;
    margin-top: 6rem;
  }
  .main .content-wrapper p {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-block: 1rem;
  }
  .main .content-wrapper img:not(img[src="./img/logo.svg"]) {
    margin-bottom: 0;
    margin-top: 1rem;
  }
  .main .content-wrapper form {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #5A668A;
    border-radius: 28px;
    padding: 0.2rem;
    margin-top: 1rem;
  }
  .main .content-wrapper form #email {
    width: 60%;
    margin-bottom: 0;
  }
  .main .content-wrapper form #submit {
    width: 40%;
  }
  .main .content-wrapper .oops {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
}
@media only screen and (min-width: 768px) {
  .main::before {
    content: "";
    position: absolute;
    left: 12px;
    bottom: 50px;
    width: 232px;
    height: 104px;
    background-image: url(./../img/bg-pattern-dots.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    z-index: 1;
  }
  .main .content-wrapper {
    width: 87%;
    margin-top: 9.8rem;
    position: relative;
    z-index: 100;
  }
  .main .content-wrapper p {
    margin-block: 1.2rem;
  }
  .main .content-wrapper img:not(img[src="./img/logo.svg"]) {
    margin-top: 2.2rem;
    background-color: #121725;
    margin-bottom: 2rem;
  }
  .main .content-wrapper img:not(img[src="./img/logo.svg"]):nth-child(1) {
    width: 96px;
    height: 29px;
  }
  .main .content-wrapper img:not(img[src="./img/logo.svg"]):nth-child(2) {
    width: 78px;
    height: 29px;
  }
  .main .content-wrapper img:not(img[src="./img/logo.svg"]):nth-child(3) {
    width: 125px;
    height: 18px;
  }
  .main .content-wrapper img:not(img[src="./img/logo.svg"]):last-child {
    width: 129px;
    height: 26px;
    margin-right: 0;
  }
}
@media only screen and (min-width: 992px) {
  .main .content-wrapper {
    width: 75%;
    max-width: 600px;
    margin-top: 9rem;
  }
}
@media only screen and (min-width: 1200px) {
  :root {
    --h1-fs:3.1rem;
    --par-fs:1.125rem;
    --btn-fs:0.875rem;
    --spec-fs:0.75rem;
  }
  .main::after {
    background-image: url(./../img/image-pc.webp);
    left: auto;
    right: 12px;
    bottom: 0;
    top: 80px;
    opacity: 1;
    height: 640px;
    width: 888px;
    background-position: top right;
    background-size: contain;
  }
  .main::before {
    content: "";
    position: absolute;
    left: auto;
    right: 12px;
    bottom: auto;
    top: 665px;
    width: 232px;
    height: 104px;
    background-image: url(./../img/bg-pattern-dots.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    z-index: 1;
  }
  .main .content-wrapper {
    margin-top: 8rem;
    width: 58%;
    max-width: 650px;
  }
  .main .content-wrapper h1 {
    margin-top: 5rem;
  }
  .main .content-wrapper p {
    margin-block: 1.5rem;
  }
  .main .content-wrapper img:not(img[src="./img/logo.svg"]) {
    margin-right: 3rem;
    margin-top: 1.8rem;
  }
}
@media only screen and (min-width: 1400px) {
  .main .content-wrapper {
    margin-top: 8rem;
    width: 80%;
    max-width: 753px;
  }
}
/*# sourceMappingURL=home.css.map */
