// ---------------------
// Variables
// ---------------------

$debug: false;

// --- colors ---
$clr10: #ffffff;
$clr11: #54E6AF;
$clr12: #121725;
$clr13: #5A668A;
$clr14: #C2CBE5;
$clr15: #2C344B;
$clr16: #FB3E3E;


// --- break points ---
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// --- font-sizes ---

$h1Max: 3.1rem; //52px
$h1Mid: 2.9rem; //48px
$h1Min: 1.625rem; //26px

$parMax: 1.125rem; //18px
$parMid: 1.125rem; //18px
$parMin: .9375rem; //15px

$btnMax: .875rem; //14px
$btnMid: .875rem; //14px
$btnMin: .875rem; //14px

$specMax: .75rem; //12px
$specMid: .75rem; //12px
$specMin: .75rem; //12px